{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %} 
<div class="container">


<div  class="row">
    <div class="col md-12">
        <div class="jumbotron p-3">

            <h2> <b> Manage Location</b>  <button type="button" class="btn btn-success float-right" 
                data-toggle="modal" data-target="#mymodal"> Add Location</button></h2>
                <form action="/deleterecordLoc" method="post" class="float-right">  
                  Location Id <input type="text"  name="Did" maxlength="4" size="4">  
                  <input type="submit" class="btn btn-danger" value="Delete">  
               </form>
                <h4> <pre class="tab float-right "> <a href="viewLocation.html">View Location </a> </pre></h4>

                <table class="table table-hover table-dark"> 
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th class="float-right">Action</th>
                    </tr>

                    {% for row in rows %}  
       
        <tr>  
            <td>{{row["loc_id"]}}</td>  
            <td>{{row["loc_name"]}}</td> 

                        

                        <td>
                            <a href="/updateLocation/{{row['loc_id']}}" class="btn btn-warning btn-xs float-right" data-toggle="modal" data-target="#modaledit{{row['loc_id']}}"> Edit </a>
                                </td>

                        
                    </tr>
                    

                    <!-- Modal Edit Location-->
<div id="modaledit{{row['loc_id']}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
  
       <div class="modal-content">
  
  
          <div class="modal-header">
  
  
             <h4 class="modal-title">Update Information</h4>
  
  
          </div>
  
  
          <div class="modal-body">
  
  
             <form action="/updateLocation" method="POST">
  
  
               <div class="form-group">
  
  
                  <label>ID:</label>
                  <input type="ID" class="form-control" name="locid" value="{{row['loc_id']}}">
 
 
               </div>
                <div class="form-group">
  
  
                   <label>Name:</label>
                   <input type="text" class="form-control" name="locname" value="{{row['loc_name']}}">
  
  
                </div>
  
  
  
  
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="submit">Update</button>
  
  
                </div>
  
  
             </form>
  
  
          </div>
  
  
          <div class="modal-footer">
  
  
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
  
          </div>
  
  
       </div>
  
  
    </div>
  
 </div>
  
  {%endfor%}

                   
                </table>

        </div>
<!-- Modal Add Location-->
 
 
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
  
             <h4 class="modal-title">Add Location</h4>
          </div>
          <div class="modal-body">
  
             <form action="/insertLoc" method="post">
  
  
                
               <div class="form-group">
  
  
                  <label>ID:</label>
                  <input type="name" class="form-control" name="id" required="">
 
 
               </div>
  
                 <div class="form-group">
  
  
                   <label>Name:</label>
                   <input type="name" class="form-control" name="name" required="">
  
  
                </div>
  
  
                 
  
  
  
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="submit">Add Location</button>
  
  
                </div>
  
  
             </form>
  
  
          </div>
  
          <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
          
  
  
       </div>
  
  
    </div>
  
  
 </div>
    </div>

</div>
</div>
{% endblock %}